.splash-screen {
    background-image: url('../svg/CertConnectLogoSVG.svg');
    -webkit-background-image: url('../svg/CertConnectLogoSVG.svg');
    background-repeat: no-repeat;
    background-size: cover;
}