    page-home {
        .grid {
            padding: 0;
        }
        .grid button.button-clear {
            height: inherit;
            width: inherit;
            padding: 0;
        }
        ion-grid button {
            height: 12rem;
        }
        ion-col.col {
            background-color: #fff;
            padding: 0;
        }
        ion-col.box-gray.col {
            background-color: #e9eef1;
        }
        .box {
            width: 10rem;
            padding: 1rem;
            position: relative;
            text-align: center;
            display: block;
            margin: 6rem auto;
        }
        .badge {
            background: #28B5F4;
            color: white;
            font-size: 12px;
            position: absolute;
            top: -20px;
            right: 10px;
            padding: 9px 8px;
            border-radius: 15px;
            display: none; // Showing or Hiding Badge Alerts
        }
        .box-icon {
            height: 2.5rem;
        }
        .box-subtitle {
            margin-top: 1.5rem;
            font-family: sans-serif;
            text-transform: none;
            font-style: normal;
        }
        ion-avatar img {
            width: 90px !important;
            height: 90px !important;
            margin-bottom: 2rem;
            background-color: #fff;
        }
        .bg-pattern {
            background-image: url(../assets/img/pattern_bg.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
        .bg-pattern,
        .bg-pattern p {
            color: #fff;
        }
        .item-md.item-block .item-inner {
            border: none;
        }
    }