    page-home {
        .grid {
            padding: 0;
        }
        .holder {
            padding: 20px 0;
            border-radius: 4px;
            text-align: center;
        }
        .btn {
            width: 10rem;
            padding: 1rem;
            position: relative;
            text-align: center;
            display: block;
            margin: 6rem auto;
        }
        .badge {
            background: #28B5F4;
            color: white;
            font-size: 12px;
            position: absolute;
            top: -20px;
            right: 10px;
            padding: 9px 8px;
            border-radius: 15px;
        }
        .card-icon {
            height: 2.5rem;
        }
        ion-col.col {
            background-color: #fff;
            padding: 0;
        }
        ion-col.bg-gray.col {
            background-color: #e9eef1;
        }
        .card-subtitle {
            margin-top: 1rem;
        }
    }