    page-home {
        .grid {
            padding: 0;
        }
        .grid button.button-clear {
            height: inherit;
            width: inherit;
            padding: 0;
        }
        ion-col.col {
            background-color: #fff;
            padding: 0;
        }
        ion-col.box-gray.col {
            background-color: #e9eef1;
        }
        .box {
            width: 10rem;
            padding: 1rem;
            position: relative;
            text-align: center;
            display: block;
            margin: 6rem auto;
        }
        .badge {
            background: #28B5F4;
            color: white;
            font-size: 12px;
            position: absolute;
            top: -20px;
            right: 10px;
            padding: 9px 8px;
            border-radius: 15px;
        }
        .box-icon {
            height: 2.5rem;
        }
        .box-subtitle {
            margin-top: 1rem;
        }
        ion-grid button {
            height: 12rem;
        }
    }