// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-navbar .toolbar-background {
    background-color: map-get($colors, primary);
}

ion-navbar .toolbar-title,
ion-navbar .button-inner {
    color: map-get($colors, light);
}

// Sub Menu Tile Grid
#grid-menu {
    .grid {
        padding: 0;
    }
    .grid button.button-clear {
        height: inherit;
        width: inherit;
        padding: 0;
    }
    ion-grid button {
        height: 12rem;
    }
    ion-col.col {
        background-color: #fff;
        padding: 0;
    }
    ion-col.box-gray.col {
        background-color: #e9eef1;
    }
    .box {
        padding: 2rem 0;
    }
    .badge {
        background: #28B5F4;
        color: white;
        font-size: 12px;
        position: absolute;
        top: -20px;
        right: 10px;
        padding: 9px 8px;
        border-radius: 15px;
    }
    .circle {
        border-radius: 50%;
        width: 8rem;
        height: 8rem;
        background-color: #F1F5F7;
        margin: 0 auto;
    }
    button:active .circle {
        background-color: map-get($colors, secondary);
    }
    button:active .circle .svg-icon {
        background-color: map-get($colors, light);
    }
    .box-icon {
        width: 2.5rem;
        height: 2.5rem;
    }
    .box-subtitle {
        margin-top: 1.5rem;
        font-family: sans-serif;
        text-transform: none;
        font-style: normal;
    }
    .box .svg-icon {
        background-color: map-get($colors, text-primary);
        color: map-get($colors, text-primary);
        position: relative;
        top: 2.7rem;
    }
    .item-md.item-block .item-inner {
        border: none;
    }
}

/////////////////////////////// HEADER DASHBOARD TOP-MENU  ///////////////////////////////
#top-menu .segment-button {
    height: 10rem;
    border: none;
    line-height: 1.5rem;
}

#top-menu .toolbar-content {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; // IE 10+ (Hide Scrollbar)
    overflow: -moz-scrollbars-none; // Firefox (Hide Scrollbar)
}

#top-menu .toolbar-content::-webkit-scrollbar {
    display: none; // Safari and Chrome (Hide Scrollbar)
}

#top-menu .segment {
    width: 200%;
}

#top-menu .box {
    margin: 2.7rem auto;
}

#top-menu .box p {
    font-size: 1.4rem;
    color: map-get($colors, disable);
}

// SVG ICONS
.svg-icon {
    height: 2.5rem;
    background-color: map-get($colors, text-primary);
}

#top-menu .svg-icon {
    background-color: map-get($colors, disable);
}

// Selected Active Icon
#top-menu .box-active {
    p {
        color: map-get($colors, secondary);
    }
    .svg-icon {
        background-color: map-get($colors, secondary);
    }
}

// SVG DASHBOARD ICONS PATHS
.svg-training {
    -webkit-mask: url(../assets/svg/training.svg) no-repeat center;
    mask: url(../assets/svg/training.svg) no-repeat center;
}

.svg-meter {
    -webkit-mask: url(../assets/svg/meter.svg) no-repeat center;
    mask: url(../assets/svg/meter.svg) no-repeat center;
}

.svg-driver-care {
    -webkit-mask: url(../assets/svg/driver_care.svg) no-repeat center;
    mask: url(../assets/svg/driver_care.svg) no-repeat center;
}

.svg-hr {
    -webkit-mask: url(../assets/svg/hr.svg) no-repeat center;
    mask: url(../assets/svg/hr.svg) no-repeat center;
}

.svg-finance {
    -webkit-mask: url(../assets/svg/finance.svg) no-repeat center;
    mask: url(../assets/svg/finance.svg) no-repeat center;
}

.svg-operations {
    -webkit-mask: url(../assets/svg/operations.svg) no-repeat center;
    mask: url(../assets/svg/operations.svg) no-repeat center;
}

// SVG PATHS:status
.svg-icon-color-disable {
    background-color: map-get($colors, disable);
}

// SVG HR - ICONS PATHS
.svg-hr-salary-certificate {
    -webkit-mask: url(../assets/svg/HR_SalaryCertificate.svg) no-repeat center;
    mask: url(../assets/svg/HR_SalaryCertificate.svg) no-repeat center;
}

.svg-hr-holidays {
    -webkit-mask: url(../assets/svg/HR_Holidays.svg) no-repeat center;
    mask: url(../assets/svg/HR_Holidays.svg) no-repeat center;
}

.svg-hr-leave-request {
    -webkit-mask: url(../assets/svg/HR_Leave_Request.svg) no-repeat center;
    mask: url(../assets/svg/HR_Leave_Request.svg) no-repeat center;
}

.svg-hr-enquiries {
    -webkit-mask: url(../assets/svg/HR_Enquiries.svg) no-repeat center;
    mask: url(../assets/svg/HR_Enquiries.svg) no-repeat center;
}

.svg-hr-emergency {
    -webkit-mask: url(../assets/svg/HR_Emergency.svg) no-repeat center;
    mask: url(../assets/svg/HR_Emergency.svg) no-repeat center;
}

.svg-hr-sick-leave {
    -webkit-mask: url(../assets/svg/HR_Sick_Leave.svg) no-repeat center;
    mask: url(../assets/svg/HR_Sick_Leave.svg) no-repeat center;
}

.svg-hr-noc {
    -webkit-mask: url(../assets/svg/HR_NOC.svg) no-repeat center;
    mask: url(../assets/svg/HR_NOC.svg) no-repeat center;
}

.svg-hr-passport {
    -webkit-mask: url(../assets/svg/HR_Passport.svg) no-repeat center;
    mask: url(../assets/svg/HR_Passport.svg) no-repeat center;
}

.svg-hr-accomodation {
    -webkit-mask: url(../assets/svg/HR_Accomodation.svg) no-repeat center;
    mask: url(../assets/svg/HR_Accomodation.svg) no-repeat center;
}